@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --card-background: #ECECEC;
    --background: #ffffff;
    --text: #2A2A2A;
    --highlight-blue: #0A7AFB;
    --background-blue: #E2EFFE;
    --lightest-gray: #f4f4f4;
    --background-lightgray: #ECECEC;
    --main-border-radius: 20px;
    --card-border-radius: 26px;
    font-family: 'Inter', sans-serif;
    color: var(--text);
    font-size: 16px;

    --footer-background-color: #F7F7F7;

}

a {
    color: var(--highlight-blue);
}

.profile-img {
    border-radius: 100%;
}